* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #3F3351;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
