@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

    .first-body {
        display: flex;
        justify-content: flex-start;;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        background: #3F3351;
    }

    .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 65%;
        height: 60%;
        background: rgba(237, 192, 226, 0.87);
        border-radius: 15px;
        margin-top: 8%;
    }
    .form-header {
        font-family: 'Handlee', cursive;
        font-size: 50px;
        color: #864879;
        margin-bottom: 5px;
    }

    input {
        width: 70%;
        height: 4.5vh;
        padding: 1vh;
        font-family: 'Didact Gothic', sans-serif;
        font-size: 19px;
        color: #939393;
        border: 2px solid #864879;
        border-radius: 18px;
    }
    .text-link {
        font-family: 'Handlee', cursive;
        font-size: 20px;
        font-weight: 600;
        color: #864879;
    }
  

    .btn-form, .g-btn-form {
        font-family: 'Handlee', cursive;
        font-size: 22px;
        font-weight: 600;
        color: #F9F9F9;
        width: 35%;
        height: 5%;
        padding: 2px;
        margin-bottom:5px ;
        background: #864879;
        border-radius: 10px;
        border: none;
    }
    .g-btn-form {
        display: flex;
        align-items: center;
        background: #FDFDFD;
        justify-content: space-evenly;
        font-size:  14px;
        font-weight: 600;
        color: #864879;
    }
    .error-p{
        color: rgb(199, 21, 21);
    }

    .btn-rute{
        border: none;
        background: none;
    }