
.modal{
    top: 0px;
    left: 0px;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #3F3351;
    justify-content: space-around;
    align-items: center;
   }
.container-modal {
    width: 75%;
    height: 75%;
    position: relative;
}

.btn-close {
    position: absolute;
    color: #864879;
    font-size: 61px;
    border: none;
    background: none;
    top: 3rem;
    right: 3rem;
}

.modal.is-open{
    display: flex;
}

.form-createNote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(237, 192, 226, 0.87);
    border-radius: 15px;
    margin-top: 8%;
}
.btn-add-note {
    font-family: 'Handlee', cursive;
    font-weight: 600;
    font-size: 30px;
    color: #F9F9F9;
    width: 35%;
    height: 5%;
    padding: 2px;
    margin-bottom:5px ;
    background: #864879;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#title-note{
    width: 80%;
    font-size: 35px;
    color: #939393;
    margin-bottom: 5px;
    border-radius: 10px;
}   

#text-note {
    width: 80%;
    height: 75%;
    color: #939393;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 32px;
    border-radius: 10px;
    margin-bottom: 5px;
    border: 2px solid #864879;
}