@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.main-bnt{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text-profile{
    font-family: Didact Gothic;
    font-size: 22px;
    color:  #F5DFF0;
}

.btn-add {
    font-family: 'Handlee', cursive;
    font-size: 49px;
    font-weight: 600;
    color: #864879;
    width: 45%;
    height: 65px;
    background: #F4E9F2;
    border-radius: 20px;
    border: 3px solid #864879;
    margin: 5%;
}

.div-notes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.content-note {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    height: 22vh;
    background: #F5DFF0;
    border: 2px solid #3F3351;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.25);
    padding: 1em;
    margin-bottom: 1em ;
}

.title-note {
    color: #3F3351;
    font-family: Handlee;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 1em;
}

.text-note {
    color: #3F3351;
    font-family: Didact Gothic;
    font-size: 20px;
    height: 80%;
}

.content-delete {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}