@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.main-bnt{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.text-profile{
    font-family: Didact Gothic;
    font-size: 22px;
    color:  #F5DFF0;
}

.btn-add {
    font-family: 'Handlee', cursive;
    font-size: 49px;
    font-weight: 600;
    color: #864879;
    width: 45%;
    height: 65px;
    background: #F4E9F2;
    border-radius: 20px;
    border: 3px solid #864879;
    margin: 5%;
}

.div-notes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

.content-note {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    height: 22vh;
    background: #F5DFF0;
    color: #864879;
    border: 2px solid #864879;
    box-sizing: border-box;
    box-shadow: inset 4px 4px 9px 2px rgba(84, 55, 78, 0.3);
    padding: 1em;
    margin-bottom: 1em ;
}

.title-note, .text-note {
    color: #864879;
    font-family: Handlee;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 5px;
}

.text-note {
    font-family: Didact Gothic;
    font-weight: 400;
    height: 80%;
}
.date{
    font-family: Handlee;
}

.content-delete {
    display: flex;
    width: 100%;
    justify-content: space-around;
}